{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Blog post
{% endblock %}

{% block content %}
  <div class="blog-post">
    <div class="blog-post-content">
      <span class="date-main">10.12.2021</span>
      <h1>
        Toto je pouze ukázkový nadpis článku, vše se vyplňuje v administraci
      </h1>
      <p class="headline-small">
        Podnadpis článku, který zde nemusí být. Opět lze navolit v administraci.
      </p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur
        ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet
        hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi.
        Morbi sollicitudin massa vel tortor consequat, eget semper nisl
        fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit
        bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis
        lectus pharetra sit amet.
      </p>
      <img src="images/header-bg2.jpg" />
      <h2>
        DAlší menší nadpis
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur
        ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet
        hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi.
        Morbi sollicitudin massa vel tortor consequat, eget semper nisl
        fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit
        bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis
        lectus pharetra sit amet.
      </p>
      <iframe width="100%"
        height="515"
        src="https://www.youtube.com/embed/7SjVauTxIbY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
{% endblock %}
