{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Úvod
{% endblock %}

{% block title %}
  Aktuality
{% endblock %}

{% block content %}
  <div class="blog">
    <div class="blog-content">
      {% for post in data.posts %}
        <a href="/blog/{{ post.id }}">
          <div class="blog-box">
            <h3>
              {{ post.title }}
            </h3>
            <span class="date-main">{{ post.created_at|date('d.m. Y') }}</span>
            <button class="btn">
              {% include 'components/ArrowRight.twig' %}
            </button>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
