<div x-show="currrentSubmenu=='dropdown-menu-2'"
  x-on:mouseover="currrentSubmenu='dropdown-menu-2'"
  style="display: none;"
  x-transition>
  <div id="dropdown-menu-2" class="submenu__item">
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/lesnictvi">Lesnictví</a>
      <p>
        V našich školkách pěstujeme široký sortiment
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/drevarska-vyroba">Dřevařská výroba</a>
      <p>
        Provádíme odvoz kulatého dříví v délkách od 2 do 14m
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/doprava">Doprava</a>
      <p>
        Provádíme odvoz kulatého dříví v délkách od 2 do 14m
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/pohonne-hmoty">Pohonné hmoty</a>
      <p>
        Prodej a rozvoz pohonných hmot od prověřených dodavatelů
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/servis">Servis</a>
      <p>
        Poskytujeme servis osobních vozidel a zahradní techniky
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/prodej-produktu">Prodej produktů</a>
      <p>
        Prodej různých druhů dřeva, briket, pilin a další
      </p>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
      <a href="/sluzby/nakup">Nákup</a>
      <p>
        Odkoupíme od vás nejrůznější druhy dřeva
      </p>
    </div>
  </div>
</div>
