<div x-show="currrentSubmenu=='dropdown-menu-2'"
    x-on:mouseover="currrentSubmenu='dropdown-menu-2'"
    style="display: none;"
    x-transition>
    <div id="dropdown-menu-2" class="submenu__item">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service1.html">Lesnictví</a>
            <p>
                V našich školkách pěstujeme široký sortiment
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service2.html">Dřevařská výroba</a>
            <p>
                Provádíme odvoz kulatého dříví v délkách od 2 do 14m
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service3.html">Doprava</a>
            <p>
                Provádíme odvoz kulatého dříví v délkách od 2 do 14m
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service4.html">Pohonné hmoty</a>
            <p>
                Prodej a rozvoz pohonných hmot od prověřených dodavatelů
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service5.html">Servis</a>
            <p>
                Poskytujeme servis osobních vozidel a zahradní techniky
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service6.html">Prodej produktů</a>
            <p>
                Prodej různých druhů dřeva, briket, pilin a další
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="service7.html">Nákup</a>
            <p>
                Odkoupíme od vás nejrůznější druhy dřeva
            </p>
        </div>
    </div>
</div>
