<div x-show="currrentSubmenu=='dropdown-menu-1'"
    x-on:mouseover="currrentSubmenu='dropdown-menu-2'"
    style="display: none;"
    x-transition>
    <div id="dropdown-menu-1" class="submenu__item">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/o-nas">O nás</a>
            <p>
                Přečtěte si něco málo o nás
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/blog">Aktuality</a>
            <p>
                Přečtěte si co je nového ve firmě
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/certifikaty">Certifikace</a>
            <p>
                Jsme certifikovaný dodavatel
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/fotogalerie">Fotogalerie</a>
            <p>
                Prohlédněte si jak to u nás vypadá
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/odkazy">Užitečné odkazy</a>
            <p>
                Jestli hledáte více informací přikládáme pár odkazů
            </p>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 dropdown-box">
            <a href="/ke-stazeni">Ke stažení</a>
            <p>
                Důležité dokumenty ke stažení
            </p>
        </div>
    </div>
</div>
