{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Certifikace
{% endblock %}

{% block content %}
  <div class="cert-page">
    <div class="cert-page-content">
      <div class="cert-page-info col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6">
        <h2>
          Certifikát FSC a příloha
        </h2>
        <p>
          Naše společnost je držitelem certifikátu FSC® (SA-COC-007732,
          FSC-C156860), který se vztahuje na všechny námi dodávané výrobky.
        </p>
      </div>
      <div class="cert-page-image col-12 col-lg-3 col-md-6 col-sm-12 col-xl-3 col-xxl-3">
        <a target="_blank" href="certifikace/FSC_certifikat.pdf">
          <img src="images/cert_img/FSC_cert.jpg" />
        </a>
      </div>
      <div class="cert-page-image col-12 col-lg-3 col-md-6 col-sm-12 col-xl-3 col-xxl-3">
        <a target="_blank" href="certifikace/FSC_certifikat_priloha.pdf">
          <img src="images/cert_img/FSC_cert_priloha.jpg" />
        </a>
      </div>
    </div>
    <div class="cert-page-content">
      <div class="cert-page-info col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6">
        <h2>
          Certifikát PEFC CZ/EN
        </h2>
        <p>
          Zároveň jsme držiteli certifikátu PEFC (100000101-11/C-o-C/2018).
          Surovina nebo výrobek pak může být označen logem PEFC a dle požadavků
          zákazníka i příslušným prohlášením o výrobku. Systém v naší
          společnosti je zaveden v souladu s požadavky CFCS a směrnicí pro
          ověřování spotřebitelského řetězce dřeva v České republice v platném
          znění a novel.
        </p>
      </div>
      <div class="cert-page-image col-12 col-lg-3 col-md-6 col-sm-12 col-xl-3 col-xxl-3">
        <a href="certifikace/PEFC_certifikat_CZ.pdf" target="_blank">
          <img src="images/cert_img/PEFC_cert.jpg" />
        </a>
      </div>
      <div class="cert-page-image col-12 col-lg-3 col-md-6 col-sm-12 col-xl-3 col-xxl-3">
        <a href="certifikace/PEFC_certifikat_EN.pdf" target="_blank">
          <img src="images/cert_img/PEFC_cert_AJ.jpg" />
        </a>
      </div>
    </div>
  </div>
{% endblock %}
