{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Fotogalerie
{% endblock %}

{% block title %}
  Fotogalerie
{% endblock %}

{% block content %}
  <div class="portfolio">
    <div class="portfolio-content">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked" />
        <label for="tabone">harverstory</label>
        <div class="tab">
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory1.jpg"
                data-original="images/gallery/harvestory1.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory3.jpg"
                data-original="images/gallery/harvestory3.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory7.jpg"
                data-original="images/gallery/harvestory7.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory2.jpg"
                data-original="images/gallery/harvestory2.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory4.jpg"
                data-original="images/gallery/harvestory4.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory8.jpg"
                data-original="images/gallery/harvestory8.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory6.jpg"
                data-original="images/gallery/harvestory6.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory5.jpg"
                data-original="images/gallery/harvestory5.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory9.jpg"
                data-original="images/gallery/harvestory9.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabtwo" />
        <label for="tabtwo">Školky</label>
        <div class="tab">
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory1.jpg"
                data-original="images/gallery/harvestory1.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory3.jpg"
                data-original="images/gallery/harvestory3.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory2.jpg"
                data-original="images/gallery/harvestory2.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory4.jpg"
                data-original="images/gallery/harvestory4.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory6.jpg"
                data-original="images/gallery/harvestory6.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabthree" />
        <label for="tabthree">obchod</label>
        <div class="tab">
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory1.jpg"
                data-original="images/gallery/harvestory1.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
            <div class="gallery-item">
              <img src="images/gallery/harvestory3.jpg"
                data-original="images/gallery/harvestory3.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory2.jpg"
                data-original="images/gallery/harvestory2.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
          <div class="brand col-12 col-lg-4 col-md-4 col-sm item harvestory">
            <div class="gallery-item">
              <img src="images/gallery/harvestory6.jpg"
                data-original="images/gallery/harvestory6.jpg"
                class="img-zoomable"
                alt=""
                style="cursor: zoom-in;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
