{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Kariéra
{% endblock %}

{% block title %}
  Nabízíme pracovní příležitost<br />na těchto pozicích
{% endblock %}

{% block content %}
  <div class="work">
    <div class="work-content">
      {% for oppurtinity in data %}
        <div class="work-box" id="w{{ oppurtinity.id }}">
          <h3>
            {{ oppurtinity.title }}
          </h3>
          {% for block in oppurtinity.content.blocks %}
            {% if block.type == 'columns' %}
              {% for col in block.data.itemContent %}
                <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
                  {% for colBlock in col.blocks %}
                    {% if colBlock.type == 'header' %}
                      <li class="headline">{{ colBlock.data.text|raw }}</li>
                    {% elseif colBlock.type == 'list' %}
                      {% for listItem in colBlock.data.items %}
                        <li>{{ listItem|raw }}</li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
