{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Kontakt
{% endblock %}

{% block title %}
  Kontakt
{% endblock %}

{% block content %}
  <div class="contact">
    <div class="contact-content">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked" />
        <label for="tabone">ústředí společnosti</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Ekonomický a obchodní ředitel
              </h3>
              <ul>
                <li class="name">Ing. František Příkaský</li>
                <li><a href="tel:+420554230814">+420 554 230 814</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Technický a personální ředitel
              </h3>
              <ul>
                <li class="name">Josef Hama</li>
                <li><a href="tel:+420554230813">+420 554 230 813</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabtwo" />
        <label for="tabtwo">účtárna</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Ekonomický a obchodní ředitel
              </h3>
              <ul>
                <li class="name">Ing. František Příkaský</li>
                <li><a href="tel:+420554230814">+420 554 230 814</a></li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabthree" />
        <label for="tabthree">obchod</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Ekonomický a obchodní ředitel
              </h3>
              <ul>
                <li class="name">Ing. František Příkaský</li>
                <li><a href="tel:+420554230814">+420 554 230 814</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabfour" />
        <label for="tabfour">venkovní provozy</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabfive" />
        <label for="tabfive">lesní výroba</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabsix" />
        <label for="tabsix">dřevařská výroba</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Ekonomický a obchodní ředitel
              </h3>
              <ul>
                <li class="name">Ing. František Příkaský</li>
                <li><a href="tel:+420554230814">+420 554 230 814</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabseven" />
        <label for="tabseven">servis</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Technický a personální ředitel
              </h3>
              <ul>
                <li class="name">Josef Hama</li>
                <li><a href="tel:+420554230813">+420 554 230 813</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabeight" />
        <label for="tabeight">doprava</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Ekonomický a obchodní ředitel
              </h3>
              <ul>
                <li class="name">Ing. František Příkaský</li>
                <li><a href="tel:+420554230814">+420 554 230 814</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Technický a personální ředitel
              </h3>
              <ul>
                <li class="name">Josef Hama</li>
                <li><a href="tel:+420554230813">+420 554 230 813</a></li>
              </ul>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabnine" />
        <label for="tabnine">ostatní</label>
        <div class="tab">
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Sekretariát
              </h3>
              <ul>
                <li class="name">Eva Králíková</li>
                <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                <li><a href="tel:+420725585724">+420 725 585 724</a></li>
                <li>
                  <a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
            <div class="contact-box">
              <h3>
                Správa majetku
              </h3>
              <ul>
                <li class="name">Ing. Hana Svatoňová</li>
                <li><a href="tel:+420554230821">+420 554 230 821</a></li>
                <li><a href="tel:+420606739236">+420 606 739 236</a></li>
                <li>
                  <a href="mailto:majetkopravni@katr.cz">
                    majetkopravni@katr.cz
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-content">
      <form role="form">
        <h2>
          Napište nám
        </h2>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6 input-around left">
          <label for="name">Jméno</label>
          <input type="text"
            class="form-control"
            id="name"
            placeholder="Jméno"
            aria-describedby="name" />
          <label for="email">E-mail</label>
          <input type="email"
            class="form-control"
            id="email"
            placeholder="E-mail"
            aria-describedby="email" />
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6 input-around right">
          <label for="message" class="form-label">Zpráva</label>
          <textarea class="form-control" id="message" rows="6"></textarea>
        </div>
        <button type="submit" class="btn">Odeslat zprávu</button>
      </form>
    </div>
  </div>
{% endblock %}
