{% extends "layouts/site-layout.twig" %}

{% block title %}Hlavní stránka{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.hell yesassad
    </p>
{% endblock %}