{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  O Nás
{% endblock %}

{% block content %}
  <div class="about-page">
    <div class="about-page-content">
      <div class="about-page-info col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6">
        <img src="images/about/about2.jpg"
          data-original="images/about/about2.jpg"
          class="img-zoomable"
          alt=""
          style="cursor: zoom-in;" />
        <h2>
          Katr aktuálně
        </h2>
        <p>
          Dnes poskytujeme komplexní služby v lesním hospodářství od pěstební
          činnosti, přes těžbu a odvoz dřeva, na které navazuje pilařský provoz
          s produkcí širokého sortimentu omítaného i neomítaného řeziva a
          vedlejších produktů (pilina, stěpka atd.). Vlastní dílenský provoz
          nabízí prodej PHM, servis a opravy osobních i nákladních automobilů
          vč. nově otevřeného servisu zahradní techniky.
        </p>
        <a href="/#why"><button class="btn">Naše služby</button></a>
      </div>
      <div class="about-page-info col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6">
        <h2>
          Historie firmy
        </h2>
        <p>
          Naše společnost byla založena 27. 8. 1991 pod obchodním názvem KATR
          spol. s r.o. a zahrnovala provoz pily. Dne 22.6.2004 už jako KATR a.s.
          převzala jmění zrušené společnosti SILVA SERVIS a.s. a rozšířila svou
          nabídku služeb jak o práce v lesním hospodářství, tak i o další
          možnosti zpracování dřeva. K 1.7.2017 se právní forma společnosti
          změnila na společnost s ručením omezeným tak, jak je v dnešní podobě.
        </p>
        <img src="images/about/about1.jpg"
          data-original="images/about/about1.jpg"
          class="img-zoomable"
          alt=""
          style="cursor: zoom-in;" />
      </div>
    </div>
  </div>
{% endblock %}
