{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Doprava
{% endblock %}

{% block title %}
  Doprava
{% endblock %}

{% block description %}
  Provádíme odvoz kulatého dříví v délkách od 2 do 14m včetně nakládky vagónů s
  využitím moderních odvozních souprav s hydraulickou rukou, dopravu řeziva na
  valníku i kontejnerovou přepravu sypkých materiálů. Ceny za dopravu jsou
  smluvní a kalkulaci přeprav je možné si vyžádat na níže uvedených kontaktech.
{% endblock %}

{% block content %}
  <div class="service">
    <div class="service-content">
      <div class="service-box">
        <h3>
          Kulatina
        </h3>
        <ul>
          <li class="headline">Odvozní soupravy značky MAN, DAF, TATRA</li>
          <li><b class="green">Martin Nakládal</b></li>
          <li><a href="tel:+420602788380">+420 602 788 380</a></li>
          <li><a href="mailto:nakladal@katr.cz">nakladal@katr.cz</a></li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          Řezivo
        </h3>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Odvozní souprava DAF</li>
          <li><b class="green">Roman Doležel</b></li>
          <li><a href="tel:+420602507482">+420 602 507 482</a></li>
          <li><a href="mailto:expedice@katr.cz">expedice@katr.cz</a></li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          Kontejnery
        </h3>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">nosič kontejnerů TATRA</li>
          <li><b class="green">Slavomír Šarman Bc.</b></li>
          <li><a href="tel:+420602752138">+420 602 752 138</a></li>
          <li><a href="mailto:dilny@katr.cz">dilny@katr.cz</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
