{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Lesnictví
{% endblock %}

{% block title %}
  Lesnictví
{% endblock %}

{% block content %}
  <div class="service">
    <div class="service-content">
      <div class="service-box">
        <h3>
          Školky
        </h3>
        <p>
          V našich školkách pěstujeme široký sortiment prostokořenných a
          obalovaných sazenic, použitelných v českém lesnictví a pro zakládání
          plantáží vánočních stromků. Školky jsou vybaveny klimatizačními sklady
          pro šetrné a kvalitní uskladnění sazenic. Jsme držiteli licence
          Ministerstva zemědělství ČR pro nakládání s reprodukčním materiálem
          lesních dřevin. Společnost KATR s.r.o. je členem Sdružení lesních
          školkařů ČR.
        </p>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Lesní školka Valšův Důl</li>
          <li><a href="">Valšův Důl, 783 86 Dlouhá Loučka</a></li>
          <li>
            <a target="_blank"
              href="https://www.google.com/maps/place/49%C2%B050'03.1%22N+17%C2%B012'31.2%22E/@49.8341978,17.206478,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x2a18ae2ebadf69b7!8m2!3d49.8341828!4d17.2086522?hl=cs-CZ">
              49.8341828N, 17.2086522E
            </a>
          </li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Lesní školka Břevenec</li>
          <li><a href="">Břevenec 84, 783 85 Šumvald</a></li>
          <li>
            <a target="_blank"
              href="https://www.google.com/maps/place/49%C2%B051'56.9%22N+17%C2%B007'59.4%22E/@49.8658159,17.1309791,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x24a1b5e51b428ea6!8m2!3d49.8658125!4d17.1331678?hl=cs-CZ">
              49.8658125N, 17.1331678E
            </a>
          </li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          údržba lesních cest
        </h3>
        <p>
          Mulčování krajnic a zmní údržba - pluhování
        </p>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí</li>
          <li><b class="green">Miroslav Král</b></li>
          <li><a href="tel:+420602542330">+420 602 542 330</a></li>
          <li>
            <a href="mailto:kral.skolky@seznam.cz">kral.skolky@seznam.cz</a>
          </li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Zástupce</li>
          <li><b class="green">Marcel Večerka</b></li>
          <li><a href="tel:+420602594601">+420 602 594 601</a></li>
          <li><a href="mailto:vecerka@katras.cz">vecerka@katras.cz</a></li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          Pěstební činnost a těžební činnost
        </h3>
        <p>
          Poskytujeme široké spektrum služeb v péči o les od pěstební činnosti
          (produkce sazenic, zalesňování, ochrana lesa) přes těžbu s využitím
          nejmodernější harvestorové technologie, potěžební úpravu porostu až po
          údržbu lesních cest.
        </p>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí zakázky - Ruda nad Moravou</li>
          <li><b class="green">Ing. Michal Krupička</b></li>
          <li><a href="tel:+420702229717">+420 702 229 717</a></li>
          <li><a href="mailto:krupicka@katr.cz">krupicka@katr.cz</a></li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí zakázky - Šternberk</li>
          <li><b class="green">Ludvík Bačík</b></li>
          <li><a href="tel:+420602503037">+420 602 503 037</a></li>
          <li><a href="mailto:bacik@katr.cz">bacik@katr.cz</a></li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí zakázky - Karlov</li>
          <li><b class="green">Jiří Hanuš</b></li>
          <li><a href="tel:+420733755555">+420 733 755 555</a></li>
          <li><a href="mailto:hanus@katr.cz">hanus@katr.cz</a></li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          Harvestory
        </h3>
        <p>
          Provádíme těžbu a přibližování dříví sortimentní metodou pomocí
          harvestorové technologie. Zpracováváme dříví od prvních probírek, až
          po mýtní porosty, včetně zpracování kalamit. Disponujeme také dvěma
          svahovými harvestorovými uzly, kterými jsme schopni zpracovávat dříví
          i v prudkých svazích.
        </p>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí</li>
          <li><b class="green">Petr Ďulík</b></li>
          <li><a href="tel:+420724066136">+420 724 066 136</a></li>
          <li><a href="mailto:harvestor@katr.cz">harvestor@katr.cz</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
