{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Prodej pohonných hmot
{% endblock %}

{% block title %}
  Prodej pohonných hmot
{% endblock %}

{% block description %}
  V areálu střediska v Janovicích nabízíme prodej a rozvoz kvalitních pohonných
  hmot od prověřených dodavatelů. Možnost platby kartou nebo čipem. Výdejní
  stojany na naftu se zvýšeným čerpacím výkonem pro nákladní vozidla a stroje.
  Prodej olejů a maziv, AD Blue - močoviny.
{% endblock %}

{% block content %}
  <div class="service">
    <div class="service-content">
      <div class="service-box">
        <div class="around-table col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xxl-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  aktuální cena
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  nafta motorová
                </th>
                <td>
                  30,7 Kč/l
                </td>
              </tr>
              <tr>
                <th scope="row">
                  benzín natural
                </th>
                <td>
                  33,3 Kč/l
                </td>
              </tr>
              <tr>
                <th scope="row">
                  nafta arktická
                </th>
                <td>
                  - Kč/l
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí střediska</li>
          <li><b class="green">Šarman Slavomír</b></li>
          <li><a href="tel:+420602507482">+420 602 507 482</a></li>
          <li><a href="mailto:dilny@katr.cz">dilny@katr.cz</a></li>
          <li><a href="mailto:sarman@katr.cz">sarman@katr.cz</a></li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Obsluha střediska</li>
          <li><a href="tel:+420602713843">+420 602 713 843</a></li>
          <li><a href="tel:+420554230376">+420 554 230 376</a></li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Otevírací doba</li>
          <li class="hours">Otevřeno máme stále 24/7</li>
        </ul>
        <div class="btn-box">
          <a href="https://www.google.cz/maps/place/Hutn%C3%AD+269%2F7,+Janovice,+793+42+R%C3%BDma%C5%99ov/@49.9522688,17.239394,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x471223eb7b48c00f:0xc4486b8552ee2065!2zSHV0bsOtIDI2OS83LCBKYW5vdmljZSwgNzkzIDQyIFLDvW1hxZlvdg!3b1!8m2!3d49.9522688!4d17.2415827!3m4!1s0x471223eb7b48c00f:0xc4486b8552ee2065!8m2!3d49.9522688!4d17.2415827?hl=cs">
            <svg xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path d="M150.5,21.5l-129,50.16667v7.16667l50.16667,21.5l21.5,50.16667h7.16667z"></path>
                </g>
              </g>
            </svg>Navigovat
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
