{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Servis
{% endblock %}

{% block title %}
  Servis
{% endblock %}

{% block description %}
  Provádíme opravy a údržbu osobních vozů, speciálních pracovních strojů.
  Součástí provozu je myčka vozidel včetně nákladních, pneuservis a prodej
  doplňkového sortimentu provozních náplní apod. Nově poskytujeme i servis
  zahradní techniky.
{% endblock %}

{% block content %}
  <div class="service">
    <div class="service-content">
      <div class="service-box">
        <ul class="service-ul margin-bottom">
          <li class="headline">Nabízené služby</li>
          <li>Servis osobních vozidel, autodiagnostika</li>
          <li>
            Pneuservis osobních i nákladních vozidel a pracovních strojů (nově
            zrekonstruováno)
          </li>
          <li>Myčka s horkou vodou a možností zvednutí vozidla až do 12 t.</li>
          <li>Prodej olejů a maziv, AD Blue - močoviny.</li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">provozní doba servisu a pneuservisu</li>
          <li><b>Po - Pá</b>: 06.00 - 14.00</li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">provozní doba čerpací stanice</li>
          <li><b>Po - Pá</b> : 04.00 - 22.00</li>
          <li><b>So - Ne</b> : 07.00 - 19.00</li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">V hotovosti lze platit v tomto čase</li>
          <li><b>Po - Pá</b> : 06.00 - 14.00</li>
        </ul>
      </div>
      <div class="service-box">
        <h3>
          servis lesní a zahradní techniky
        </h3>
        <ul class="service-ul margin-bottom">
          <li>Odborný záruční a pozáruční servis</li>
          <li>Prodej náhradních dílů</li>
          <li>Prodej doplňků ke strojům</li>
          <li>Možnost platby kartou</li>
        </ul>
        <ul class="service-ul margin-bottom">
          <li class="headline">Půjčovna strojů</li>
          <li>pila</li>
          <li>půdní vrták</li>
          <li>plotostřih</li>
          <li>drtič na větve</li>
          <li>křovinořez</li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">servis lesní a zahradní techniky</li>
          <li><b>Po - Pá</b> : 06.00 - 14.00</li>
          <li><a href="tel:+420702124696">+420 702 124 696</a></li>
          <li>
            <a href="mailto:hobbyservis.katr@post.cz">
              hobbyservis.katr@post.cz
            </a>
          </li>
        </ul>
        <ul class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          <li class="headline">Vedoucí střediska</li>
          <li><b class="green">Slavomír Šarman</b></li>
          <li><a href="tel:+420602752138">+420 602 752 138</a></li>
          <li><a href="tel:+420554283032">+420 554 283 032</a></li>
          <li><a href="mailto:dilny@katr.cz">dilny@katr.cz</a></li>
          <li><a href="mailto:sarman@katr.cz ">sarman@katr.cz</a></li>
        </ul>
        <div class="btn-box">
          <a href="https://www.google.cz/maps/place/Hutn%C3%AD+269%2F7,+Janovice,+793+42+R%C3%BDma%C5%99ov/@49.9522722,17.239394,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x471223eb7b48c00f:0xc4486b8552ee2065!2zSHV0bsOtIDI2OS83LCBKYW5vdmljZSwgNzkzIDQyIFLDvW1hxZlvdg!3b1!8m2!3d49.9522688!4d17.2415827!3m4!1s0x471223eb7b48c00f:0xc4486b8552ee2065!8m2!3d49.9522688!4d17.2415827?hl=cs">
            <svg xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path d="M150.5,21.5l-129,50.16667v7.16667l50.16667,21.5l21.5,50.16667h7.16667z"></path>
                </g>
              </g>
            </svg>Navigovat
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
