<footer>
  <div class="footer-content">
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>Kontaktní údaje</h3>
      <ul>
        <li><a href="tel:+420554230811">+420 554 230 811</a>
        </li>
        <li><a href="mailto:sekretariat@katr.cz">sekretariat@katr.cz</a>
        </li>
        <li>datová schránka: dbjeq5f</li>
        <li>
          <a target="_blank"
            href="https://www.google.com/maps/dir//49.9588,17.2390081/@49.9587403,17.2386971,18.5z/data=!4m2!4m1!3e0?hl=cs-CZ">49°57'31.680"N,
            17°14'20.429"E</a>
        </li>
      </ul>
      <hr />
      <h3>Fakturační údaje</h3>
      <ul>
        <li>IČ: 25858947</li>
        <li>DIČ: CZ25858947</li>
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>Kde nás najdete</h3>
      <ul>
        <li>KATR s.r.o.</li>
        <li>Potočná 334/5</li>
        <li>Stará ves 795 01</li>
        <li>Česká Republika</li>
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>Nepřehlédněte</h3>
      <ul>
        <li>Užitečné odkazy</li>
        <li>Partnerství</li>
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>Dokumenty</h3>
      <ul>
        <li>Ke stažení</li>
        <li><a href="docs/gdpr.pdf">Ochrana osobních údajů</a></li>
        <li>Obchodní podmínky</li>
        <li>Výpis z Obchodního rejstříku</li>
        <li>Osvědčení o registraci</li>
        <li>Koncese nákladní dopravy</li>
      </ul>
    </div>
  </div>
</footer>