<header>
    <nav class="{% if title is not defined %}dark{% endif %}">
        <div class="nav-topper">
            <div class="nav-topper-content">
                <ul class="left">
                    <li><a href="tel:+420554230811">+420 554 230 811</a></li>
                    <li>
                        <a href="mailto:sekretariat@katr.cz">
                            sekretariat@katr.cz
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="aktuality">Aktuality</a>
                        <a href="kariera">Kariéra</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-content" x-data="{ currrentSubmenu: false }">
            <a href="" class="logo-wrap">
                <img src="assets/images/katr-logo.svg" class="logo" />
                <img src="assets/images/katr-logo-white.svg"
                    class="logo white" />
            </a>
            {% include 'layouts/header/links-list.twig' %}
            <div class="submenu toggled" @mouseleave="currrentSubmenu=false">
                {% include 'layouts/header/dropdown-1.twig' %}
                {% include 'layouts/header/dropdown-2.twig' %}
            </div>
        </div>
    </nav>
    {% if title is defined %}
    <div class="header-content {% if description is not defined and title is defined %}smaller{% endif %}">
        <img src="{{ (heroImageUrl ?? default_hero_image)|raw }}" class="header-content__image" />
        <div class="header-content__overlay"></div>
        <div class="header-content__text">
            <h1>
                {{ title|raw }}
            </h1>
            {% if description is defined %}
                <p>
                    {{ description|raw }}
                </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>
