<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/assets/images/logo_katr_white.png" />

    {# Info #}
    <title>
      {{ block('seoTitle') }}- Katr s.r.o.
    </title>
    <base href="{{ baseUrl }}" />

    {# SEO #}
    <meta name="description" content="Katr" />
    <meta name="author" content="digivisible.cz" />

    {% if 'test.katr.cz' in baseUrl %}
      <meta name="robots" content="noindex,nofollow" />
    {% endif %}

    {# Bundle files #}
    <link rel="stylesheet" href="bundle/root.css" />
    <script defer src="bundle/index.js"></script>

    {# hCaptcha #}
    <script src="https://js.hcaptcha.com/1/api.js?hl=cs" async defer></script>

    {# Fonts #}
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:600,500,400,300,700,800,200&display=swap" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Bebas+Neue:400&display=swap" />
  </head>
  <body>
    {% if block('title') is defined %}
      {% include 'layouts/header.twig' with {
        title: block('title')
      }
        |merge(
          block('description') ?? false
            ? {
              description: block('description')
            }
            : {}
        )
        |merge(
          block('heroImageUrl') ?? false
            ? {
              heroImageUrl: block('heroImageUrl')
            }
            : {}
        ) %}
    {% else %}
      {% include 'layouts/header.twig' %}
    {% endif %}
    <div id="content">
      {{ block('content') }}
    </div>
    {% include 'layouts/footer.twig' %}
  </body>
</html>
