{% extends '@modules:katr/layouts/site-layout.twig' %}

{% block seoTitle %}
  Stránka nenalezena
{% endblock %}

{% block title %}
  404
{% endblock %}

{% block content %}
  <div class="page-missing-page">
    404 - Stránka nenalezena
  </div>
{% endblock %}
