{% for dotation in dotationList %}
  <div class="blog-box dotations">
    <div>
      <span class="date-main">{{ dotation.date|date('d.m. Y') }}</span>
      <h3>
        {{ dotation.title }}
      </h3>
    </div>
    <a class="link" href="api/entry-types/files/items/{{ dotation.file }}/raw">
      Zobrazit soubor
    </a>
  </div>
{% endfor %}

{% if (dotationList|length) == 0 %}
  Zatím žádné dotace
{% endif %}
