<p>Dobrý den,</p>
<p>děkujeme za Vaši objednávku. Jakmile bude vše připraveno, budeme Vás kontaktovat.</p>

<p>S přátelským pozdravem,<br />
KATR s.r.o.<br />
<a href="https://www.katr.cz">www.katr.cz</a></p>
