<p>
  <b>Dobrý den,</b>
</p>
<p>
  Na stránce katr.cz byl odeslán kontaktní formálář s těmito údaji:
</p>
<ul>
  <li>Jméno: {{ name }}</li>
  <li>Email: {{ email }}</li>
  <li>Zpráva: {{ message }}</li>
</ul>

<p>
  Hezký den
</p>
